* {
    margin: 20px;
}
#button1{
    height: 50px;
    width: 200px;
    background-color: whitesmoke;
    color: aquamarine;
    border: 2px solid aquamarine;
    border-radius: 30px;
    font-size: medium;
    font-weight: bold;
    
}
#button2{
    background-color: aquamarine;
    color: white;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    font-size: large;

}
#button3{
    background-color: dodgerblue;
    color: white;
    border: 3px solid black;
    font-size: 20px;
    padding: 10px;
    width: 300px;
    box-shadow: 3px 3px black;
    font-family: 'Courier New', Courier, monospace;
}